.container {
  padding: 10px 20px;

  .settingsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;

    & > * {
      margin: 5px;
    }
  }
}