@use "src/styles/mixins" as mixins;
@use "src/styles/colors" as colors;
@use "src/styles/variables" as variables;

.badge {
  @include mixins.clickable();
  padding: 5px 10px;
  border: 2px solid colors.$blue;
  border-radius: variables.$borderRadius;
  color: colors.$blue;
  background-color: colors.$white;
  margin: 5px;
  cursor: pointer;

  &.selected {
    background-color: colors.$orange;
    color: colors.$white;
  }

  &:hover {
    color: colors.$white;
    background-color: colors.$blue;
  }
}